* {
    box-sizing: border-box;
    margin-right: 0;
    margin:0;
    padding:0;
  
    
}



#root{overflow-x:hidden;}



body{
    background-color:whitesmoke;
}
    a:link,
    a:hover,
    a:visited,
    a:active
     {
        background-color: none;
        text-decoration: none;
        
      }

i 
{
    margin-right: 5px;
}
hr { background-color: rgb(240, 233, 233); height: 0.5px; border: 0; }
  

.hr 
{
    color:white;
}
.Divee
 {

    display: block;

}

h4 
{
   
    font-size:17px;
    cursor:none;
}

#a
{
    padding-top:50px;
    padding-right:30px;
    text-decoration: none;
    color:#fff;
    font-size:2rem;
    background-color: none;
    align-items: center;
    justify-content: space-between;
    
    
}
#a:hover
{
    cursor:pointer;
    color:rgb(21, 255, 0);
     font-size:2.3rem;
    -webkit-transform: translate( 0px, -5px);
}

#sizeFA
{
    font-size:2rem;
    display:flex;
    cursor:none;
}
.left_box{
padding-right: 7rem;
}